<html>
    <head>
        <title>kei blog</title>
    </head>
    <body>
        <!-- <div>
            <h1><a href="/">django girls blog</a></h1>
        </div>
            <p>published : 14.06.2014, 12:14</p>
            <h2><a href="">my first post</a></h2>
            <p>hello!!</p>
        <div>
            {{ posts }}
            <p>_____</p>
            {% for post in posts %}
                {{ post }}
            {% endfor %}
        </div>
            <p>公開日 : 2014/06/14, 12:14</p>
            <h2><a href="">second post</a></h2>
            <p>hello!!!</p>
        <div>
            
        </div> -->
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <hr>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>